
<app-header></app-header>

<h1 *ngIf="show">Welcome!!!</h1>

<ul>
    <li *ngFor="let x of students">
        {{x}}
    </li>
</ul>

<ul>
    <li *ngFor="let student of studentdata">
        {{student.name}},{{student.age}}
    </li>
</ul>

<div *ngIf="block==0">
    <h1>Heading 0</h1>
</div>
<div *ngIf="block==1">
    <h1>Heading 1</h1>
</div>
<div *ngIf="block==2">
    <h1>Heading 2</h1>
</div>

<button (click)="updateBlock()">Update Block</button>
<br><br>

<!-- switch case -->
<button (click)="changeColor('red')">Red</button>
<button (click)="changeColor('teal')">Teal</button>


<div [ngSwitch]="color">
    <h1 *ngSwitchCase="'red'" style="background-color: red;">Red Color</h1>
    <h1 *ngSwitchCase="'teal'" style="background-color: teal;">Teal Color</h1>
    <h1 *ngSwitchDefault>No color match</h1>
</div>



<router-outlet />